
#btn{
    width: 150px;
    margin: 10px 20px;
    padding: 15px;
    background-color: lightgreen;
    color: green;
    border-radius: 10px;
    border: 2px solid green;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#info{
    margin: 10px 20px;
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px 15px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
}