* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Контейнер для контенту */
.product-container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}